.fa-user-circle {
    font-size: 2rem;
  }
  
  .fa-user-circle:before {
    color: #fff;
  }
  
  .fa-angle-down, .fa-angle-up {
    cursor: pointer;
  }
  
  .card {
    background-color: #60cd85;
    color: #fff;
    border-radius: 0;
  }
  
  .Applicant-details {
    display: flex;
    justify-content: space-between;
  }
  
  .Step-Title {
    text-align: center
  }
  
  .Step {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  span input[type=checkbox] {
    margin-left: 10px;
    padding: 10px;
  }
  
  span input[type=checkbox]:firt-child {
    margin-right: 10px;
  }
  