.applicant-dashboard {
	font-size: 1rem;
}

.msg-approved {
	color: green;
}

.msg-submitted {
	color: blue;
}

.dashboard-step {
	border-top: 1px solid grey;
	margin-bottom: 1rem;
}

.dashboard-step small {
	color:#ee0402!important;
	font-size: 85%;
    font-weight: 600;
}

.hidden {
	display: none;
}

.block {
	display: block;
}